<html>
    <body>

       <%= usuario.nombre %> 
       <%= usuario.documento %> 
       <%= usuario.direccion %> 
       <%= usuario.telefono %> 
       <%= usuario.correo %> 
       <%= usuario.usuario %> 
       <%= usuario.contrasena %> 
       <%= usuario.rol %> 
      </body>
</html>